<!DOCTYPE HTML>
<html>
  <head>
    <title>Mercado</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Mercado</h1>
    <p>这是 互联网前端课程 的示例应用</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/home">一个简单的「购物网站」示例</a></p>
  </body>
</html>
